[Unit]
Description=NasPi Control

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/naspi-control
User=nobody
Group=gpio

[Install]
WantedBy=multi-user.target